<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>

</head>
<body>


// Pour rajouter du php dans le doc twig, il suffit de le mettre entre 2 accolades
<h1>{{ article }}</h1>

</body>
</html>