{% extends 'base.html.twig'  %}

{% block title %}Agent{% endblock title %}

{% block body %}

    <h1>{{ agent.firstName | upper }} {{ agent.lastName }}</h1>
    <p> {{ agent.age }} ans</p>
    <a href="{{ path('profile_list') }}">Retour </a>
{% endblock body %}