{% extends 'base.html.twig'  %}

{% block title %}Agents{% endblock title %}

{% block body %}

    {% for agent in agents  %}

        {% if agent.published %}

            {#Pour renvoyer à la page de l'agent, il faut utiliser son id + la fonction path de Symfony#}

            <h1><a href= "{{ path('profile_show', {'id' : agent.id}) }} " >{{agent.lastName}} {{ agent.firstName}}</a></h1>
        {% endif %}

    {% endfor %}

    </body>

{% endblock body %}